
.square {
  background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 50px;
    font-weight: bold;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
    line-height: 80px;
    height: 80px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #53be74;
    margin: 10px;
    border: 1px solid #53be74;
    background-image: linear-gradient(bottom, rgb(73, 180, 96) 0%, rgb(97, 203, 125) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(73, 180, 96) 0%, rgb(97, 203, 125) 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(73, 180, 96)), color-stop(1, rgb(97, 203, 125)) );
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5);
    box-shadow: 0px 6px 0px #2b8f4a, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
 }
 .square:active {
  background-image: linear-gradient(bottom, rgb(73, 180, 96) 0%, rgb(97, 203, 125) 100%);
  background-image: -o-linear-gradient(bottom, rgb(73, 180, 96) 0%, rgb(97, 203, 125) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(73, 180, 96) 0%, rgb(97, 203, 125) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(73, 180, 96) 0%, rgb(97, 203, 125) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(73, 180, 96) 0%, rgb(97, 203, 125) 100%); 
  background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(73, 180, 96)), color-stop(1, rgb(97, 203, 125)) );
 }
.board-row:after {
  clear: both;
  content: "";
  display: table;
 }
.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  text-align: center;  
 }
 .game-status{
  font-size: 22px;
  color: #dc0909;
  font-weight: 700;
 }
 .game-player{
  font-size: 25px;
  color: #515ebc;
  font-weight: 700;
 }
ul {
  list-style: none;
  padding-inline-start: 0px;
 }
 .resetBtn{
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
 }
 .resetBtn:not(:disabled):not(.disabled).active,
 .resetBtn:not(:disabled):not(.disabled):active,
 .show>.resetBtn.dropdown-toggle {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}
.resetBtn:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}
 .btn{ 
    margin-top: 20px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 }
 .status {
  margin-bottom: 10px;
 }
 